
/* .rec_mess { background-color:yellow;display:inline-block;padding:10px; height:20px;}  */
/* .snd_mess { float:right; background-color:#d0ffa0;display:inline-block;padding:10px; height:10px;}  */
/* .time_mess { font-size:6pt; font-family:Serif; font-color:#3333ff; padding-left:10px; font-style: italic;} */
.rec_mess { background-color:yellow;display:inline-block;padding:10px; height:auto; } 
.snd_mess { float:right; background-color:#d0ffa0;display:inline-block;padding:10px; height:auto; }
.mess_pre { padding;0px; margin:0px;  } 
.time_mess { font-size:6pt; font-family:Serif; color:red; padding-left:10px; font-style: italic;}

.txtarea {
	height: auto !important; /* !important is used to force override. */
	max-height: 50px ;
}

.inLine, .inLineLabel{ display: inline-block; border-bottom-width:0; }
.inLineLabel { min-width: 70px; <!--float:left;-->}
.inLine{ min-width: 50px; }
.clearFloats{ clear:both; }
		
		